<body oncontextmenu='return false' class='snippet-body'>



    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <div class="nav_list">
                    <a routerLink="" class="nav_link "> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name"></span> </a>
                    <a routerLink="/Trabajadoreslista" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Trabajadores</span> </a>
                    <a routerLink="/Departamentoslista" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Departamentos</span> </a>
                    <a routerLink="/Supermercadolista" class="nav_link "> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Supermercado</span> </a>
                    <a routerLink="/Encargadoslista" class="nav_link "> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Encargados</span> </a>

                </div>
            </div>
        </nav>
    </div>