<nav class="navbar navbar-expand-md  fixed-top navbar-white bg-white">
    <div class="container-fluid">


        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class=" navbar-nav  contenido">

                <a class="navbar-brand">
                    <img src="../../assets/img/logo.svg" width="100" height="30" routerLinkActive="active ">
                </a>
            </div>


        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
            <a class="btn btn-danger" routerLink="/"><i class="fas fa-sign-out-alt "> Cerrar Sesión </i></a>
        </div>
    </div>
</nav>