<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>

<div class="container"><br>
    <br>
    <h2 class="text-center">Datos de Supermercado</h2><br>
    <br>

    <div class="row" style="margin-left: 80px;">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center bg-dark" style="color: #ffff">
                    {{supermercado.nombre}}
                </div>
                <div class="card-body">
                    <table class=" table" *ngIf="supermercado">
                        <tbody class="text-center" style="border-color: #ffffff; ">
                            <tr>
                                <td><b>Calle: </b> {{supermercado.calle}} </td>
                                <td><b>Ciudad:</b> {{supermercado.ciudad}} </td>
                            </tr>
                            <tr>
                                <td><b>Número: </b>{{supermercado.numero}}</td>
                                <td><b>Razón Social: </b>{{supermercado.razonsocial}}</td>
                            </tr>
                            <tr>
                                <td><b>Código Postal: </b>{{supermercado.codigoPostal}}</td>
                                <td><b>Correo: </b> {{supermercado.correo}}</td>
                            </tr>
                            <tr>
                                <td><b>Colonia:</b> {{supermercado.colonia}}</td>
                                <td><b>Supermercado:</b> {{supermercado.telefono}}</td>
                            </tr>
                            <tr>
                                <td><b>Estado:</b> {{supermercado.estado}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">


            <div class="card mb-3" style="max-width: 540px;">
                <div class="card-header text-center bg-dark" style="color: #ffff">
                    Encargado
                </div>
                <div class="row g-0 ">
                    <div class="col-md-4 ">
                        <img src="../../assets/img/avatar_encargado.svg " class="img-fluid rounded-start mt-5 ml-5" widtd="80%" height="80%">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body ">
                            <ul class="list-group list-group-flush ml-5">
                                <li class="list-group-item">{{supermercado.encargados.nombre}}</li>
                                <li class="list-group-item">{{supermercado.encargados.fechaN}}</li>
                                <li class="list-group-item">{{supermercado.encargados.Genero}}</li>
                                <li class="list-group-item">{{supermercado.encargados.correo}}</li>
                                <li class="list-group-item">{{supermercado.encargados.telefono}}</li>
                            </ul>
                            <br>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>