<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>
<div class="container">
    <h2 class="text-center"> Lista de Supermercados</h2><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <button class="btn btn-success me-md-2" type="button" routerLink="/Supermercadonuevo">Agregar Supermercado</button>
    </div>
    <table class="table text-center" style="margin-left: 80px;">
        <thead class="table-dark ">
            <tr>
                <th scope="col">Razón Social</th>
                <th scope="col">Estado</th>
                <th scope="col">Correo Electónico</th>
                <th scope="col">Telefono</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supermercado of supermercado | paginate: { itemsPerPage: 5, currentPage: page } ">
                <td>{{supermercado.razonsocial}}</td>
                <td>{{supermercado.estado}}</td>
                <td>{{supermercado.correo}}</td>
                <td>{{supermercado.telefono}}</td>
                <td><button type="button" class="btn btn-warning text-white" routerLink="/Supermercadodetalles/{{supermercado.id}}"><i class="far fa-edit"></i> Ver detalles</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>