.a {
    background-color: #017436 !important;
    border-color: #017436 !important;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-link {
    background-color: white !important;
    border-color: white !important;
}

input:valid {
    border-color: green !important;
}

select:valid {
    border-color: green !important;
}