<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>
<div class="container mt-5">
    <button type="button" class="btn btn-link" routerLink="/Supermercadolista" style="margin-left: 100px;"><i class="fas fa-chevron-left "> <b>  Regresar</b> </i> </button>
    <h4 class="text-center"> Registro de Supermercados</h4>
    <form class="row g-3 needs-validation mt-4" (submit)="crearSupermercado()" novalidate style="margin-left: 100px;">

        <div class="col-md-6">
            <label class="form-label ">Nombre</label>
            <input type="text" name="nombre" [(ngModel)]="supermercado.nombre" class="form-control" placeholder="Supermercadito" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Calle</label>
            <input type="text" name="calle" [(ngModel)]="supermercado.calle" class="form-control" placeholder="Rey Tizoc" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-2">
            <label class="form-label">Numero </label>
            <input type="text" name="numero" [(ngModel)]="supermercado.numero" class="form-control" placeholder="23" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-2">
            <label class="form-label mt-4">Codigo Postal</label>
            <input type="text" name="codigoPostal" [(ngModel)]="supermercado.codigoPostal" class="form-control" placeholder="61291" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label mt-4">Colonia</label>
            <input type="text" name="colonia" [(ngModel)]="supermercado.colonia" class="form-control" placeholder="San Miguel" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-label mt-4">Estado</label>
            <input type="text" name="estado" [(ngModel)]="supermercado.estado" class="form-control" placeholder="Michoacán" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-3">
            <label class="form-label mt-4">Ciudad</label>
            <input type="text" name="ciudad" [(ngModel)]="supermercado.ciudad" class="form-control" placeholder="Morelia" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label mt-4">razon Social</label>
            <input type="text" name="razonsocial" [(ngModel)]="supermercado.razonsocial" class="form-control" placeholder="super S.A. C.V." required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label mt-4">Correo Electónico</label>
            <input type="email" name="correo" [(ngModel)]="supermercado.correo" class="form-control" placeholder="example@gmail.com" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label mt-4">Telefono</label>
            <input type="text" name="telefono" [(ngModel)]="supermercado.telefono" class="form-control" placeholder="999 999 999" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div>
            <button class="btn btn-primary btn-block a">Registrar</button>
        </div>
        <br>

    </form>
    <br>
    <br>
    <br>

</div>