<app-navbar></app-navbar>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" height="100%">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active redondo" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="active redondo" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" class="active redondo" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" width="100%" height="100%" src="../assets/img/img_1.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>BIENVENIDO</h1>
                    <h2>A LA PLATAFORMA</h2>
                    <h1>SUPERMERCADO</h1>


                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="../assets/img/img_2.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>BIENVENIDO</h1>
                    <h2>A LA PLATAFORMA</h2>
                    <h1>SUPERMERCADO</h1>


                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" width="100%" height="100%" src="../assets/img/img_3.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>BIENVENIDO</h1>
                    <h2>A LA PLATAFORMA</h2>
                    <h1>SUPERMERCADO</h1>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="plataforma">
    <br><br><br>
    <b><h2 class="featurette-heading alineacionb">Nuestra Plataforma</h2></b><br>
    <br>
    <p class="caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
        ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum </p><br><br><br>
</section>
<br><br>
<section id="beneficios" class="colores">
    <br><br><br>
    <div class=""><br>
        <h2 class="mt-5 colorb">Beneficios</h2><br>
        <div class="row row-cols-1 row-cols-md-3 ">
            <div class="col">
                <div class="card ">
                    <br>
                    <img src="../../assets/img/icon3_1.svg" width="50px" height="50px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title alineacionb">Lorem ipsum</h5>
                        <hr class="colores">
                        <p class="card-text alineacionb">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
                    </div>
                </div>
            </div><br>
            <div class="col">
                <div class="card ">
                    <br>
                    <img src="../../assets/img/icon2.svg" width="50px" height="50px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title alineacionb ">Lorem ipsum</h5>
                        <hr class="colores">
                        <p class="card-text alineacionb">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
                    </div>
                </div>
            </div><br>
            <div class="col">
                <div class="card ">
                    <br>
                    <img src="../../assets/img/icon3.svg" width="50px" height="50px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title alineacionb">Loren ipsum</h5>
                        <hr class="colores">
                        <p class="card-text alineacionb">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
                    </div>
                </div>
            </div>

            <br>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
</section>
<section id="nclientes">
    <br><br><br>
    <h2 class="color">
        Nuestros Clientes</h2>
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="../../assets/img/icono1.svg" class="card-img-top tamañoc mt-3 mb-5" alt="...">
                <b> <h6 class="mb-3">Lorem ipsum</h6></b>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/img/icono2.svg" class="card-img-top tamañoc mt-3 mb-5" alt="...">
                <b> <h6 class="mb-3">Lorem ipsum</h6></b>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/img/icono3.svg" class="card-img-top tamañoc mt-3 mb-5" alt="...">
                <b> <h6 class="mb-3">Lorem ipsum</h6></b>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../assets/img/icono4.svg" class="card-img-top tamañoc mt-3 mb-5" alt="...">
                <b> <h6 class="mb-3">Lorem ipsum</h6></b>
            </div>
        </div>
    </div>
</section>
<br><br><br><br><br><br>



<footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 bg-black">
        <li class="nav-item"><a class="nav-link px-2 text-muted">Innmortal 2021 Todos los derechos reservados</a></li>
    </ul>
</footer>