.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.margen {
    margin-left: 300px;
}

form {
    width: 350px;
}

.imagen {
    float: left;
    padding: 10px;
    margin: 22 3 22 100px;
    width: 250px;
    color: white;
    font-size: smaller;
}

.hotel-booking-form h3 {
    color: inherit;
}

.cell-lg-4 {
    align-content: right;
}

.hotel-booking-form .form-label {
    left: 22px;
    letter-spacing: .05em;
}

.hotel-booking-form .form-input {
    padding-left: 22px;
    background-color: #fff;
}

.hotel-booking-form .select2-container .select2-choice {
    padding-left: 0;
    padding-right: 0;
    background: #fff;
}

.hotel-booking-form .select2-arrow b:before {
    color: #cbcbcb;
}

.hotel-booking-form .button {
    margin-top: 10px;
}

@media (min-width: 480px) {
    .hotel-booking-form {
        padding: 70px 50px 60px;
    }
}

@media (min-width: 1200px) {
    .hotel-booking-form .button {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        padding: 19px 30px;
    }
}

.hotel-booking-form *+.rd-mailform {
    margin-top: 20px;
}

.hotel-booking-form *+.form-wrap {
    margin-top: 5px;
}

.hotel-booking-form {
    width: 100%;
    text-align: left;
    padding: 30px 20px 30px;
    color: #000;
    background: #e3e3e3;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.137);
}

.rd-mailform {
    position: relative;
    right: 55;
    text-align: left;
    margin: 50px;
}

html .rd-mailform-inline {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    transform: translateY(-15px);
    margin-bottom: -15px;
}

html .rd-mailform-inline>* {
    margin-top: 15px;
}

html .rd-mailform-inline .form-wrap {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.input-wrapper {
    position: relative;
    width: 271px;
}

.input {
    color: #191919;
    padding: 15px 15px 15px 35px;
}

.input.password {
    padding: 15px 30px 15px 15px;
}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-70%);
}

.input-icon.password {
    left: unset;
    right: 12px;
}

.form-wrap {
    position: relative;
}

html .rd-mailform-inline .form-input {
    min-width: 150px;
}

html .rd-mailform-inline .button {
    margin-top: 15px;
    flex: none;
}

.colo {
    background-color: #fff;
}

.range-sm-bottom {
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}