<div class="limiter">
    <div class="container-login100" style="background-image: url('../../assets/img/img_login.jpg');">
        <div class="imagen">
            <img src="../../assets/img/logotipo.svg" alt="">
            <p>Inicia sesión para registrar tu supermercado.</p>
        </div>
        <div class="cell-lg-4 cell-xl-3 reveal-lg-flex margen">
            <div class="hotel-booking-form colo">
                <main class="form-signin">
                    <form>

                        <h1 class="h3 mb-3 fw-normal text-center"><b>Inicio de Sesión</b></h1>
                        <br><br>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Correo Electrónico</label>
                        </div><br><br>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Contraseña</label>
                        </div><br><br>



                        <button class="w-100 btn btn-lg btn-primary" type="submit" routerLink="/Encargadoslista">INICIAR SESION</button>

                    </form>
                </main>
            </div>
        </div>
    </div>
</div>