<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>

<div class="container mover">
    <h2 class="text-center"> Lista de Encargados</h2><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <button class="btn btn-success me-md-2" type="button" routerLink="/Encargadosnuevo">Agregar Encargado</button>
    </div><br>
    <br>

    <table class="table text-center" style="margin-left: 80px;">
        <thead class="table-dark ">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Nac.</th>
                <th scope="col">Género</th>
                <th scope="col">Correo Electónico</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Supermercado</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let encargados of encargados | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{encargados.nombre + ' ' + encargados.apellidoP + ' ' + encargados.apellidoM}}</td>
                <td>{{encargados.fechaN}}</td>
                <td>{{encargados.Genero}}</td>
                <td>{{encargados.correo}}</td>
                <td>{{encargados.telefono}}</td>
                <td *ngIf="encargados.supermercado">{{encargados.supermercado.razonsocial}}</td>
                <td *ngIf="!encargados.supermercado">N/A</td>
                <td><button class="btn btn-warning text-white" routerLink="/Encargadoseditar/{{encargados.id}}"><i class="far fa-edit"></i> Editar</button></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


</div>