<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>
<div class="container mt-5">
    <button type="button" class="btn btn-link" routerLink="/Encargadoslista" style="margin-left: 100px;"><i class="fas fa-chevron-left "> <b>  Regresar</b> </i> </button>
    <h4 class="text-center"> Registro de Encargados</h4>
    <form class="row g-3 needs-validation mt-4" (submit)="crearEncargado()" novalidate style="margin-left: 100px;">

        <div class="col-md-4">
            <label class="form-label ">Nombre</label>
            <input type="text" name="nombre" [(ngModel)]="encargados.nombre" class="form-control" placeholder="Nombre" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellido Paterno</label>
            <input type="text" name="apellidoP" [(ngModel)]="encargados.apellidoP" class="form-control" placeholder="Apellido Paterno" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellido </label>
            <input type="text" name="apellidoM" [(ngModel)]="encargados.apellidoM" class="form-control" placeholder="Apellido Materno" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label mt-4">Correo Electónico</label>
            <input type="email" name="email" [(ngModel)]="encargados.correo" class="form-control" placeholder="example@gmail.com" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom04" class="form-label mt-4">Genero</label>
            <select class="form-select" name="Genero" [(ngModel)]="encargados.Genero" required>
                    <option selected disabled value="">Genero...</option>
                    <option value="F">Femenino</option>
                    <option value="M">Masculino</option>
                  </select>
            <div class="invalid-feedback">
                Please select a valid state.
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationCustom05" class="form-label mt-4">Fecha Nacimiento</label>
            <input type="date" class="form-control" name="fechaN" [(ngModel)]="encargados.fechaN" value="2004-12-31" min="1940-01-01" max="2004-12-31" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label mt-4">Telefono</label>
            <input type="text" name="telefono" [(ngModel)]="encargados.telefono" class="form-control" placeholder="(999) 999 999" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label mt-4">Contraseña</label>
            <input type="password" name="password" [(ngModel)]="encargados.password" class="form-control" minlength="8" required>

            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label mt-4">Repetir Contraseña</label>
            <input type="password" name="rpassword" [(ngModel)]="encargados.rpassword" class="form-control" minlength="8" required>
            <div class="valid-feedback">
                Looks good!
            </div><br><br>
        </div>
        <button class="btn btn-primary btn-block a">Registrar</button>
    </form>
</div>