.a {
    background-color: #017436 !important;
    border-color: #017436 !important;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-link {
    background-color: white !important;
    border-color: white !important;
}

input:valid {
    border-color: green !important;
}

select:valid {
    border-color: green !important;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }
    tbody td {
        display: block;
        text-align: center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }
}