<nav class="navbar navbar-expand-md  fixed-top navbar-white bg-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../assets/img/logo.svg" width="100" height="30" routerLinkActive="active " (click)="carrusel() ">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class=" navbar-nav  contenido">
                <a class="nav-link " aria-current="page " routerLinkActive="active " (click)="plataforma() "><b>Plataforma</b></a>
                <a class="nav-link " routerLinkActive="active " (click)="beneficios() "><b>Beneficios</b></a>
                <a class="nav-link " routerLinkActive="active " (click)="nclientes() "><b>Nuestros Clientes</b></a>

            </div>


        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
            <a class="btn btn-primary " routerLink="login"><i class="fas fa-sign-out-alt "> Iniciar Sesión </i></a>
        </div>
    </div>
</nav>