<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>

<div class="container mover">
    <h2 class="text-center"> Lista de Departamentos</h2><br>


    <br>

    <table class="table text-center" style="margin-left: 80px;">
        <thead class="table-dark ">
            <tr>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departamentos of departamentos | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{departamentos.nombre}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


</div>