<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>

<div class="container mover">
    <h2 class="text-center"> Lista de Trabajadores</h2><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <button class="btn btn-success me-md-2" type="button" routerLink="/Trabajadoresnuevo">Agregar Trabajadores</button>
    </div><br>
    <br>

    <table class="table text-center" style="margin-left: 80px;">
        <thead class="table-dark ">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trabajadores of trabajadores | paginate: { itemsPerPage: 5, currentPage: page }">
                <td>{{trabajadores.identificador}}</td>
                <td>{{trabajadores.nombre}}</td>
                <td>{{trabajadores.telefono}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>


</div>