<app-sidebar></app-sidebar>
<app-navbar-e></app-navbar-e>
<br>
<br>
<br>
<br>
<div class="container mt-5">
    <button type="button" class="btn btn-link" routerLink="/Trabajadoreslista" style="margin-left: 100px;"><i class="fas fa-chevron-left "> <b>  Regresar</b> </i> </button>
    <h4 class="text-center"> Registro de trabajadores</h4>
    <form class="row g-3 needs-validation mt-4" (submit)="crearEncargado()" novalidate style="margin-left: 100px;">

        <div class="col-md-4">
            <label class="form-label ">Identificador</label>
            <input type="text" name="identificador" [(ngModel)]="trabajadores.identificador" class="form-control" placeholder="Identificador" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombre</label>
            <input type="text" name="nombre" [(ngModel)]="trabajadores.nombre" class="form-control" placeholder="Nombre" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellidos</label>
            <input type="text" name="apellidoP" [(ngModel)]="trabajadores.apellidoP" class="form-control" placeholder="Apellidos" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>


        <div class="col-md-4">
            <label class="form-label mt-4">Telefono</label>
            <input type="text" name="telefono" [(ngModel)]="trabajadores.telefono" class="form-control" placeholder="(999) 999 999" required>
            <div class="valid-feedback">
                Looks good!
            </div>

        </div>
        <br>
        <br>
        <br><br><br><br>
        <button class="btn btn-primary btn-block a">Registrar</button>
    </form>
</div>